.dash-container {
  padding: 2em;
}
.dash-progress{
  border: solid 1px rgb(199, 199, 199);
  padding: 1em;
  border-radius: 1em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 1em;
}
.swiper {
  width: 88%;
}
.swiper-wrapper {
  /* border: 2px solid red; */
  padding: 10px 0px 10px 0;
  width: 90%;
  padding-bottom: 1em;
}
.swiper-slide {
  box-sizing: border-box;
  width: 100%;
  background: #ffffff;
  border: 1px solid #b0b0b0;
  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 15px;
  padding: 1em;
  margin-bottom: 1em;
}
.swiper-scrollbar {
  width: 50px;
}

/* 
================0===========
MUI styles
=========================== */
.linear-progress-container1 .MuiLinearProgress-bar1Determinate {
  background-color: var(--red);
  border-radius: 1rem;
}

.linear-progress-container1 .MuiLinearProgress-determinate {
  padding: 8px;
  margin: 1em 0;
  background-color: var(--gray-1);
  border-radius: 1em;
}
.linear-progress-container2 .MuiLinearProgress-bar1Determinate {
  background-color: var(--blue);
  border-radius: 1rem;
}

.linear-progress-container2 .MuiLinearProgress-determinate {
  padding: 8px;
  margin: 1em 0;
  background-color: var(--gray-1);
  border-radius: 1em;
}

.dash-h2 {
  text-align: left;
  color: var(--red);
  margin-top: 0.5em;
}
.dash-expected {
  text-align: left;
  color: var(--gray-3);
  font-size: 15px;
  margin: 0;
}

.linear-progress-container1 {
  position: relative;
}
.linear-progress-container2 {
  position: relative;
}
.progress-left {
  position: absolute;
  top: 3px;
  left: 7px;
  z-index: 2;
  margin: 0;
  color: white;
}
.progress-right {
  position: absolute;
  top: 4px;
  right: 7px;
  z-index: 2;
  margin: 0;
  font-size: 10px;
  color: var(--gray-3);
}

.recharts-surface{
  display: flex;
}

/* 
================0===========
Top spending
=========================== */
.dash-topSpending {
  display: flex;
  gap: 2em;
}
.dash-title {
  text-align: left;
}
.dash-icon-title {
  margin: 0;
}
.dash-budget-title {
  text-align: left;
  font-size: 16px;
  margin: 0em;
}
.dash-budget {
  display: flex;
  align-items: center;
  gap: 0.7em;
}

.dash-icon {
  width: 50px;
  height: 50px;
}
.dash-budget-info {
  color: var(--gray-3);
  font-size: 10px;
  margin: 0;
}
