@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --red: #c80048;
  --blue: #453f78;

  --gray-1: #e9e9e9;
  --gray-2: #d9d9d9;
  --gray-3: #b9b9b9;

  --header: linear-gradient(#c80048, #961c48);

  /* use these predefined colors by adding .. var()
  for example color : var(--red) */
}

.App {
  text-align: center;
  min-width: 320px;
  width: 320px;
  max-width: 1023px;
  border: solid 2px green;
  margin: 0 auto;
  padding: 1em;
  font-family: "Inter", sans-serif;
}
